Source: zlib-ng
Section: libs
Priority: optional
Maintainer: Guillem Jover <guillem@debian.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 debhelper (>= 13.10),
 cmake,
 libgtest-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/zlib-ng/zlib-ng
Vcs-Browser: https://git.hadrons.org/debian/pkgs/zlib-ng
Vcs-Git: https://git.hadrons.org/debian/pkgs/zlib-ng.git

Package: libz-ng2
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: optimized zlib compression library - shared library
 zlib-ng is an optimized fork of the zlib library implementing the deflate
 compression method found in gzip and PKZIP.
 .
 It includes and consolidates many optimizations found in alternative forks,
 that have not been merged in the official zlib library.
 .
 This package contains the shared library.

Package: libz-ng-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libz-ng2 (= ${binary:Version}),
 ${misc:Depends},
Description: optimized zlib compression library - development files
 zlib-ng is an optimized fork of the zlib library implementing the deflate
 compression method found in gzip and PKZIP.
 .
 It includes and consolidates many optimizations found in alternative forks,
 that have not been merged in the official zlib library, while providing a
 cleaned up API, not compatible with zlib, although diverging mostly in the
 symbols being prefixed and some data type improvements.
 .
 This package contains the header files and the static library needed to
 compile applications that use zlib-ng.

Package: libz-ng-compat
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: optimized API/ABI compatible zlib compression library - private library
 zlib-ng is an optimized fork of the zlib library implementing the deflate
 compression method found in gzip and PKZIP.
 .
 It includes and consolidates many optimizations found in alternative forks,
 that have not been merged in the official zlib library.
 .
 This package contains the ABI/API compatible shared library, installed in
 the private directory /usr/lib/<triplet>/zlib-ng rather than replacing the
 system zlib library. Programs only use it when asked to, for example with
 LD_LIBRARY_PATH=/usr/lib/<triplet>/zlib-ng.
